@use "../abstracts/" as *;

body {
  background-color: var(--clr-blue-800);
}

main {
  grid-template-rows: auto 1fr auto;
}

:focus {
  outline: 1px solid var(--clr-purple-400);
  outline-offset: 0.2rem;
}

a {
  display: inline-flex;
  text-decoration: none;
}

[tabindex="-1"] {
  outline: none;
}

ul[role="list"],
ol[role="list"] {
  padding: 0;
  margin-bottom: 0;
}

address {
  display: inline;
  font-style: normal;
}

br {
  @include breakpoint-down(medium) {
    display: none;
  }
}
