@use '../abstracts/type' as *;

@each $screen-size, $property in $type-scale {
  @each $prop, $value in $property {
    @if $screen-size == small {
      @if($prop == '800') {
        .fs-#{$prop} {
          font-size: var(--fs-#{$prop});
          line-height: 1.38;
        }
      }@else if ($prop == '700') {
        .fs-#{$prop} {
          font-size: var(--fs-#{$prop});
          line-height: 1.25;
        }
      }@else if ($prop == '600') {
        .fs-#{$prop} {
          font-size: var(--fs-#{$prop});
          line-height: 1.33;
        }
      }
      @else {
        .fs-#{$prop} {
          font-size: var(--fs-#{$prop});
        }
      }
    }
  }
}

@each $size, $value in $type-weight {
  .fw-#{$size} {
    font-weight: var(--fw-#{$size});
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}
