$colors: (
  gray: (
    600: #252a41,
    400: #737373,
    200: #bdbdbd,
  ),
  red: (
    400: #e74040,
    200: #ff7a52,
  ),
  blue: (
    800: #26335e,
  ),
  purple: (
    400: #8c5af6,
  ),
  gold: gold,
  black: black,
  white: white,
);
