@use "../abstracts/" as *;

.home {
  .skills {
    align-items: center;
    justify-content: space-between;

    @include breakpoint-down(large) {
      flex-direction: column;
    }

    .cards {
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .card {
        --flow-space: var(--space-3);
        padding: var(--space-5) 0 0 var(--space-6);
        width: rem(223);
        height: rem(288);

        :first-child {
          height: clamp(rem(40), 6vw, rem(72));
          aspect-ratio: 1 / 1;
          border-radius: var(--rounded-full);
        }

        &:nth-last-of-type(2) {
          @include breakpoint-down(large) {
            display: none;
          }
        }

        &:nth-last-of-type(2) {
          grid-row-start: span 2;
        }

        @include breakpoint-down(small) {
          display: none;
        }
      }
    }
  }

  .popular {
    align-items: center;
    justify-content: space-between;
    @include breakpoint-down(large) {
      flex-direction: column;
    }
  }

  .video {
    align-items: center;
    justify-content: space-between;

    @include breakpoint-down(large) {
      flex-direction: column;
    }

    &__img {
      position: relative;

      img {
        border-radius: var(--rounded-4);
      }

      span {
        position: absolute;
        inset: 0;
        margin: auto;
        height: rem(90);
        aspect-ratio: 1/ 1;
        border-radius: var(--rounded-full);
      }
    }
  }

  .store {
    --flow-space: var(--space-8);

    .cards {
      --auto-grid-min-size: 16rem;

      .card {
        &__img {
          @include pseudo() {
            content: "sale";
            inset: var(--space-3) auto auto var(--space-3);
            font-weight: var(--fw-bold);
            font-size: var(--fs-300);
            padding-inline: var(--space-1);
            border-radius: var(--rounded-1);
            background: var(--clr-red-400);
          }

          img {
            min-width: 100%;
          }
        }

        &__icons {
          position: absolute;
          inset: 80% 0 0 0;
          justify-content: center;
          margin-inline: 15%;

          span {
            height: rem(40);
            aspect-ratio: 1 /1;
            border-radius: var(--rounded-full);
          }
        }

        &-body {
          --flow-space: var(--space-1);

          &__header {
            justify-content: space-between;

            &-evaluation {
              justify-content: center;
              align-items: center;
              border-radius: var(--rounded-4);
              padding: calc(var(--space-1) - rem(5));
            }
          }
        }
      }
    }
  }

  .teachers {
    --flow-space: var(--space-8);

    .cards {
      --auto-grid-min-size: 18rem;

      .card {
        justify-content: center;
        width: 100%;

        &__body {
          --flow-space: var(--space-2);
        }

        &__icons {
          justify-content: center;
        }
      }
    }
  }

  .team {
    --flow-space: var(--space-container-2);

    .cards {
      --auto-grid-min-size: 14rem;

      .card {
        width: fit-content;
        border-radius: var(--rounded-4);
        overflow: hidden;

        &__body {
          --flow-space: var(--space-1);
        }

        &__icons {
          justify-content: center;

          > * {
            max-height: rem(24);
            aspect-ratio: 1 /1;
            > * {
              font: inherit;
            }
          }
        }
      }
    }
  }

  .email {
    --flow-space: var(--space-8);

    form {
      border: 1px solid var(--clr-gray-300);
      border-radius: var(--rounded-2);
      width: 100%;
      max-width: rem(688);

      input {
        flex: 1;
        height: rem(58);
        border-radius: var(--rounded-2) 0 0 var(--rounded-2);
        background-color: var(--clr-neutral-100);
        padding: var(--space-2);
        border: none;
        outline: none;

        &::placeholder {
          color: var(--clr-neutral-400);
        }
      }

      button {
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
      }
    }
  }
}
