@use "../abstracts/" as *;

.site-foot {
  nav {
    align-items: center;
    justify-content: space-between;
    gap: var(--space-4);
    @include breakpoint-down(medium) {
      flex-wrap: wrap;
    }

    ul {
      --flow-space: var(--space-3);
      gap: var(--space-1);

      > li {
        > * {
          align-items: center;
        }
      }
    }
  }

  &__social {
    .container {
      justify-content: space-between;
      align-items: center;
      min-height: rem(74);
    }
  }
}
