@use '../abstracts/' as *;

.site-head {
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 1000;
  height: var(--header-height);

  &__brand {
    user-select: none;
  }

  &__inner {
    align-items: center;
    justify-content: space-between;

    .primary-navigation {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      
      @include breakpoint-down(medium) {
        @include position(absolute, $top: 0, $left: 0, $z-index: 1000);
        background: var(--clr-blue-800);
        flex-direction: column;
        padding: var(--space-8) 0 var(--space-8);
        transition: 0.3s ease-out;
        transform: translateY(-100%);
      }

      &[data-visible='true'] {
        transform: translateY(var(--space-2));
      }

      > ul {
        align-items: center;

        &:first-of-type {
          @include breakpoint-down(medium) {
            flex-direction: column;
          }
        }
      }

      &__toggle {
        @include position(
          absolute,
          $top: var(--space-5),
          $right: var(--space-5),
          $z-index: 1000
        );

        cursor: pointer;
        background: none;
        border: 0;
        @include breakpoint(large) {
          display: none;
        }
      }
    }
  }
}
