:root {
  --clr-gray-600: #252a41;
  --clr-gray-400: #737373;
  --clr-gray-200: #bdbdbd;
  --clr-red-400: #e74040;
  --clr-red-200: #ff7a52;
  --clr-blue-800: #26335e;
  --clr-purple-400: #8c5af6;
  --clr-gold: gold;
  --clr-black: black;
  --clr-white: white;
  --fs-200: 0.75rem;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.1875rem;
  --fw-regular: 400;
  --fw-bold: 700;
  --rounded-1: 0.1875em;
  --rounded-2: 0.3125em;
  --rounded-3: 0.375em;
  --rounded-4: 1.25em;
  --rounded-5: 2.3125em;
  --rounded-full: 50%;
  --space-1: 0.625rem;
  --space-2: 0.9375rem;
  --space-3: 1.25rem;
  --space-4: 1.5625rem;
  --space-5: 2.1875rem;
  --space-6: 2.5rem;
  --space-7: 2.8125rem;
  --space-8: 5rem;
  --space-container-1: 5rem;
  --space-container-2: 7rem;
  --space-container-3: 10rem;
  --header-height: 5.6875rem;
}
@media (min-width: 48em) {
  :root {
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.5rem;
    --fs-800: 3.625rem;
  }
}
@media (max-width: 61.8375em) {
  :root {
    --space-container-1: 5rem;
  }
}
@media (max-width: 61.8375em) {
  :root {
    --space-container-2: 5rem;
  }
}
@media (max-width: 61.8375em) {
  :root {
    --space-container-3: 5rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-300);
  color: var(--clr-white);
  background-color: var(--clr-blue-800);
  letter-spacing: 0.2px;
}

main {
  flex: auto;
}

:focus {
  outline: 1px solid var(--clr-neutral-700);
  outline-offset: 0.2rem;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover:not([class]) {
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-neutral-100);
  text-decoration: underline;
}

[tabindex="-1"] {
  outline: none;
}

ul[role=list],
ol[role=list] {
  padding: 0;
}

address {
  display: inline;
  font-style: normal;
}

@media (max-width: 61.8375em) {
  br {
    display: none;
  }
}

h1 {
  max-width: 18ch;
}

p {
  line-height: 1.43;
  max-width: var(--width);
}

a {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: inherit;
  line-height: 1.71;
}

.btn {
  display: inline-block;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  line-height: 157%;
}
.btn--header {
  background: var(--clr-purple-400);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--rounded-2);
}
.btn--hero {
  background: var(--clr-purple-400);
  padding: var(--space-2) var(--space-6);
  border-radius: var(--rounded-2);
}
.btn--outline {
  color: var(--clr-purple-400);
  border: 1px solid var(--clr-purple-400);
  padding: var(--space-1) var(--space-3);
  border-radius: var(--rounded-5);
}
.btn--input {
  height: 3.625rem;
  min-width: min(24vw, 7.3125rem);
  background: var(--clr-purple-400);
  color: var(--clr-white);
  border-radius: 0 var(--rounded-2) var(--rounded-2) 0;
}

.card-line {
  width: 3.125rem;
  height: 0.125rem;
  background: var(--clr-red-200);
}

.section-title__line {
  width: 5.875rem;
  height: 0.4375rem;
  background: var(--clr-red-200);
}

.site-head {
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 1000;
  height: var(--header-height);
}
.site-head__brand {
  user-select: none;
}
.site-head__inner {
  align-items: center;
  justify-content: space-between;
}
.site-head__inner .primary-navigation {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 61.8375em) {
  .site-head__inner .primary-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--clr-blue-800);
    flex-direction: column;
    padding: var(--space-8) 0 var(--space-8);
    transition: 0.3s ease-out;
    transform: translateY(-100%);
  }
}
.site-head__inner .primary-navigation[data-visible=true] {
  transform: translateY(var(--space-2));
}
.site-head__inner .primary-navigation > ul {
  align-items: center;
}
@media (max-width: 61.8375em) {
  .site-head__inner .primary-navigation > ul:first-of-type {
    flex-direction: column;
  }
}
.site-head__inner .primary-navigation__toggle {
  position: absolute;
  top: var(--space-5);
  right: var(--space-5);
  z-index: 1000;
  cursor: pointer;
  background: none;
  border: 0;
}
@media (min-width: 61.9375em) {
  .site-head__inner .primary-navigation__toggle {
    display: none;
  }
}

.main .skills {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 74.937em) {
  .main .skills {
    display: flex;
    flex-direction: column;
  }
}
.main .skills .cards {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.main .skills .cards .card {
  --flow-space: var(--space-3);
  padding: var(--space-5) 0 0 var(--space-6);
  width: 13.9375rem;
  height: 18rem;
}
.main .skills .cards .card span {
  font-size: clamp(1rem, 3vw, var(--fs-600));
  height: clamp(2.5rem, 6vw, 4.5rem);
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
}
@media (max-width: 74.937em) {
  .main .skills .cards .card:nth-last-of-type(2) {
    display: none;
  }
}
.main .skills .cards .card:nth-last-of-type(2) {
  grid-row-start: span 2;
}
@media (max-width: 47.937em) {
  .main .skills .cards .card {
    display: none;
  }
}
.main .popular {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 74.937em) {
  .main .popular {
    flex-direction: column;
  }
}
.main .video {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 74.937em) {
  .main .video {
    flex-direction: column;
  }
}
.main .video-img {
  position: relative;
}
@media (max-width: 74.937em) {
  .main .video-img {
    order: -1;
  }
}
.main .video-img img {
  border-radius: var(--rounded-4);
}
.main .video-img span {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 5.625rem;
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
}
.main .store {
  --flow-space: var(--space-8);
}
.main .store .cards {
  --auto-grid-min-size: 16rem;
}
.main .store .cards .card-img {
  position: relative;
}
.main .store .cards .card-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  content: "sale";
  inset: var(--space-3) auto auto var(--space-3);
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  padding-inline: var(--space-1);
  border-radius: var(--rounded-1);
  background: var(--clr-red-400);
}
.main .store .cards .card-img img {
  min-width: 100%;
}
.main .store .cards .card-icons {
  justify-content: center;
  position: absolute;
  inset: 80% 0 0 0;
  margin-inline: 15%;
}
.main .store .cards .card-icons span {
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
}
.main .store .cards .card-body {
  --flow-space: var(--space-1);
}
.main .store .cards .card-body__header {
  justify-content: space-between;
}
.main .store .cards .card-body__evaluation {
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-4);
  padding: calc(var(--space-1) - 0.3125rem);
}
.main .teachers {
  --flow-space: var(--space-8);
}
.main .teachers .cards {
  --auto-grid-min-size: 18rem;
}
.main .teachers .cards .card {
  justify-content: center;
  width: 100%;
}
.main .teachers .cards .card-content {
  --flow-space: var(--space-2);
}
.main .teachers .cards .card-icons {
  justify-content: center;
}
.main .teachers .cards .card p {
  --width:17ch;
}
.main .team {
  --flow-space: var(--space-container-2);
}
.main .team .cards {
  --auto-grid-min-size: 14rem;
}
.main .team .cards .card {
  width: fit-content;
}
.main .team .cards .card-img img {
  border-radius: var(--rounded-4) var(--rounded-4) 0 0;
}
.main .team .cards .card-body {
  --flow-space: var(--space-1);
  border-radius: 0 0 var(--rounded-4) var(--rounded-4);
}
.main .team .cards .card-icons {
  justify-content: center;
}
.main .team .cards .card-icons > * {
  max-height: 1.5rem;
  aspect-ratio: 1/1;
}
.main .email {
  --flow-space: var(--space-8);
}
.main .email form {
  border: 1px solid var(--clr-gray-200);
  border-radius: var(--rounded-2);
  width: 100%;
  max-width: 43rem;
}
.main .email form input {
  flex: 1;
  height: 3.625rem;
  border-radius: var(--rounded-2) 0 0 var(--rounded-2);
  border: none;
  outline: none;
}
.main .email form input::placeholder {
  color: var(--clr-gray-400);
}
.main .email form span button {
  border: none;
  outline: none;
}

.site-foot > * > ul {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 61.8375em) {
  .site-foot > * > ul {
    flex-wrap: wrap;
  }
}
.site-foot > * > ul > li {
  --flow-space: var(--space-3);
}
.site-foot > * > ul > li p, .site-foot > * > ul > li address {
  align-items: center;
}
.site-foot__social .container {
  justify-content: space-between;
  align-items: center;
  min-height: 4.625rem;
}

.hero {
  position: relative;
  width: 100vw;
  height: 45.5625rem;
  background: url("./../img/hero-3-cover.jpg") 65% top/cover no-repeat;
}
.hero .container {
  padding-top: min(33vw, var(--space-container-2) + var(--header-height));
}
.hero .container p:last-of-type {
  --width: 22ch;
}

.section-title {
  --flow-space: var(--space-5);
}
.section-title p {
  --width: 39ch;
}

.section-title-2 {
  --flow-space: var(--space-1);
}

.text-gray-600 {
  color: var(--clr-gray-600);
}

.bg-gray-600 {
  background-color: var(--clr-gray-600);
}

.text-gray-400 {
  color: var(--clr-gray-400);
}

.bg-gray-400 {
  background-color: var(--clr-gray-400);
}

.text-gray-200 {
  color: var(--clr-gray-200);
}

.bg-gray-200 {
  background-color: var(--clr-gray-200);
}

.text-red-400 {
  color: var(--clr-red-400);
}

.bg-red-400 {
  background-color: var(--clr-red-400);
}

.text-red-200 {
  color: var(--clr-red-200);
}

.bg-red-200 {
  background-color: var(--clr-red-200);
}

.text-blue-800 {
  color: var(--clr-blue-800);
}

.bg-blue-800 {
  background-color: var(--clr-blue-800);
}

.text-purple-400 {
  color: var(--clr-purple-400);
}

.bg-purple-400 {
  background-color: var(--clr-purple-400);
}

.text-gold {
  color: var(--clr-gold);
}

.bg-gold {
  background-color: var(--clr-gold);
}

.text-black {
  color: var(--clr-black);
}

.bg-black {
  background-color: var(--clr-black);
}

.text-white {
  color: var(--clr-white);
}

.bg-white {
  background-color: var(--clr-white);
}

.container {
  width: min(100% - 2rem, 65.3125rem);
  margin-inline: auto;
}

@supports (display: grid) {
  .auto-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 15rem), 1fr));
  }

  .auto-grid > * {
    max-width: unset;
    margin: unset;
  }
}
.margin-right-1 {
  margin-inline-end: var(--space-1);
}

.gap-1 {
  gap: var(--space-1);
}

.margin-bottom-1 {
  margin-block-end: var(--space-1);
}

.padding-inline-1 {
  padding-inline: var(--space-1);
}

.padding-bottom-1 {
  padding-block-end: var(--space-1);
}

.padding-top-1 {
  padding-block-start: var(--space-1);
}

.gap-1 {
  gap: var(--space-1);
}

.margin-right-2 {
  margin-inline-end: var(--space-2);
}

.gap-2 {
  gap: var(--space-2);
}

.margin-bottom-2 {
  margin-block-end: var(--space-2);
}

.padding-inline-2 {
  padding-inline: var(--space-2);
}

.padding-bottom-2 {
  padding-block-end: var(--space-2);
}

.padding-top-2 {
  padding-block-start: var(--space-2);
}

.gap-2 {
  gap: var(--space-2);
}

.margin-right-3 {
  margin-inline-end: var(--space-3);
}

.gap-3 {
  gap: var(--space-3);
}

.margin-bottom-3 {
  margin-block-end: var(--space-3);
}

.padding-inline-3 {
  padding-inline: var(--space-3);
}

.padding-bottom-3 {
  padding-block-end: var(--space-3);
}

.padding-top-3 {
  padding-block-start: var(--space-3);
}

.gap-3 {
  gap: var(--space-3);
}

.margin-right-4 {
  margin-inline-end: var(--space-4);
}

.gap-4 {
  gap: var(--space-4);
}

.margin-bottom-4 {
  margin-block-end: var(--space-4);
}

.padding-inline-4 {
  padding-inline: var(--space-4);
}

.padding-bottom-4 {
  padding-block-end: var(--space-4);
}

.padding-top-4 {
  padding-block-start: var(--space-4);
}

.gap-4 {
  gap: var(--space-4);
}

.margin-right-5 {
  margin-inline-end: var(--space-5);
}

.gap-5 {
  gap: var(--space-5);
}

.margin-bottom-5 {
  margin-block-end: var(--space-5);
}

.padding-inline-5 {
  padding-inline: var(--space-5);
}

.padding-bottom-5 {
  padding-block-end: var(--space-5);
}

.padding-top-5 {
  padding-block-start: var(--space-5);
}

.gap-5 {
  gap: var(--space-5);
}

.margin-right-6 {
  margin-inline-end: var(--space-6);
}

.gap-6 {
  gap: var(--space-6);
}

.margin-bottom-6 {
  margin-block-end: var(--space-6);
}

.padding-inline-6 {
  padding-inline: var(--space-6);
}

.padding-bottom-6 {
  padding-block-end: var(--space-6);
}

.padding-top-6 {
  padding-block-start: var(--space-6);
}

.gap-6 {
  gap: var(--space-6);
}

.margin-right-7 {
  margin-inline-end: var(--space-7);
}

.gap-7 {
  gap: var(--space-7);
}

.margin-bottom-7 {
  margin-block-end: var(--space-7);
}

.padding-inline-7 {
  padding-inline: var(--space-7);
}

.padding-bottom-7 {
  padding-block-end: var(--space-7);
}

.padding-top-7 {
  padding-block-start: var(--space-7);
}

.gap-7 {
  gap: var(--space-7);
}

.margin-right-8 {
  margin-inline-end: var(--space-8);
}

.gap-8 {
  gap: var(--space-8);
}

.margin-bottom-8 {
  margin-block-end: var(--space-8);
}

.padding-inline-8 {
  padding-inline: var(--space-8);
}

.padding-bottom-8 {
  padding-block-end: var(--space-8);
}

.padding-top-8 {
  padding-block-start: var(--space-8);
}

.gap-8 {
  gap: var(--space-8);
}

.padding-block-1 {
  padding-block: var(--space-container-1);
}

.padding-block-2 {
  padding-block: var(--space-container-2);
}

.padding-block-3 {
  padding-block: var(--space-container-3);
}

.padding-2 {
  padding: var(--space-2);
}

.padding-4 {
  padding: var(--space-4);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
  line-height: 1.33;
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1.25;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1.38;
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.flow > * + * {
  margin-top: var(--flow-space, 2.1875rem);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.center-xy {
  display: grid;
  place-items: center;
}

@media (min-width: 61.9375em) {
  .col-4 {
    width: 33.3333333333%;
  }
}

/*# sourceMappingURL=style.css.map */
